body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
#stats {
  color: aquamarine;
  font-size: 4vw;
}
.square {
  color: aquamarine;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 5.6vw;
  font-weight: bold;
  line-height: 34px;
  height: 8vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 8vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
#myVideo {
  position: fixed;
  top: 1px;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  position: fixed;
  top: 20vh;
  left: 10vw;
  /* right: 5vw; */
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  /* width: 100%; */
  padding: 20px;
}
